<div class="row mb-3 pb-2 border-bottom border-light">
    <div class="col-md-10">
        <h1 class="text-primary">Add new Board</h1>
    </div>
    <div class="col-md">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/dashboard']">Back to dashboard
                <fa-icon icon="table-columns"></fa-icon></button>
        </div>
    </div>
</div>
<div *ngIf="!success && !boardsLookup">
    <h3>List of available Hubs</h3>
<table class="table table-striped" *ngIf="hubs.length > 0">
    <tbody>
        <tr *ngFor="let hub of hubs">
            <td>
                {{hub.device}}
                <br>
                <small class="text-muted">MAC: {{hub.id}}</small>
                <small *ngIf="isRegistered(hub)" class="text-muted"> - alredy registered to user</small>
            </td>
            <td align="right">
                <button class="btn btn-primary" (click)="registerHub(hub)" *ngIf="!isRegistered(hub)">Register</button>
                <button class="btn btn-primary" (click)="setDeviceDiscovery(hub)" *ngIf="isRegistered(hub)">Open</button>
            </td>
        </tr>
    </tbody>
</table>
<h4 *ngIf="hubs.length == 0">No Hubs available in your current mqtt server</h4>
</div>
<div *ngIf="boardsLookup && !success">
    <h3 *ngIf="boards.length == 0">Looking for boards...</h3>
    <h3 *ngIf="boards.length > 0">Available boards</h3>
    <div class="spinner-border text-primary" role="status" *ngIf="boards.length == 0">
        <span class="sr-only"></span>
    </div>
    <table class="table table-striped" *ngIf="boards.length > 0">
        <tbody>
            <tr *ngFor="let board of boards">
                <td>
                    <b>{{board.name}}</b>
                </td>
                <td align="right">
                    <button class="btn btn-primary" (click)="selectBoard(board)"  *ngIf="!boardIsMine" >Setup</button>
                    <button class="btn btn-success text-white" *ngIf="boardIsMine">Board already registered</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="success">
    <h3>New board added</h3>
    <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/dashboard']">Go back to the dashboard
            <fa-icon icon="table-columns"></fa-icon></button>
    </div>
</div>
<br>
<button class="btn btn-primary" (click)="testHubs()">Hubs</button>
<button class="btn btn-primary" (click)="testBoards()">Boards</button>
