<h1>{{'PAGE.USER.HOME.TITOLO' | translate}}</h1>
<a class="btn btn-primary" routerLink="/user/page1">Page 1</a>&nbsp;<a class="btn btn-primary" routerLink="/user/page2">Page 2</a>
<hr />
<h2>Demo Toast</h2>
<a class="btn btn-info" (click)="toastIt('info')">Info</a>&nbsp;
<a class="btn btn-success" (click)="toastIt('success')">Success</a>&nbsp;
<a class="btn btn-warning" (click)="toastIt('warning')">Warning</a>&nbsp;
<a class="btn btn-danger" (click)="toastIt('error')">Error</a>&nbsp;
<hr />
<h2>Colors & styles...</h2>
<button class="btn btn-primary">Primary</button>&nbsp;
<button class="btn btn-secondary">Secondary</button>&nbsp;
<button class="btn btn-info">Info</button>&nbsp;
<button class="btn btn-success">Success</button>&nbsp;
<button class="btn btn-warning">Warning</button>&nbsp;
<button class="btn btn-danger">Danger</button>&nbsp;
<button class="btn btn-light">Light</button>&nbsp;
<button class="btn btn-dark">Dark</button>&nbsp;
<br /><br />
<button class="btn btn-primary btn-sm">Small</button>&nbsp;
<button class="btn btn-primary">Default</button>&nbsp;
<button class="btn btn-primary btn-lg">Large</button>&nbsp;
