<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
    <div class="text-center">
      <div class="spinner-grow" style="width: 2rem; height: 2rem;" role="status">
          <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow" style="width: 2rem; height: 2rem;" role="status">
          <span class="sr-only">Loading...</span>
      </div>
      <div class="spinner-grow" style="width: 2rem; height: 2rem;" role="status">
          <span class="sr-only">Loading...</span>
      </div>
      <h3 style="margin-top: 25px;">Loading...</h3>
    </div>
</div>