<footer class="border-top footer fixed-bottom bg-primary">
    <div class="container text-white">
          <div class="row">
            <div class="col-md">
                <img class="logo" src="/assets/images/logo_unitn_{{lang}}.png" title="{{ 'FOOTER.LOGO_TITLE' | translate }}" alt="{{ 'FOOTER.LOGO_LINK' | translate }}" />
            </div>
            <div class="col-md text-center">
                <p class="text">&copy; GROUP 9 AY 2022/2023<br>Matteo Gastaldello<br>Matteo Sabella<br>Federico Natali<br><a href="{{ 'FOOTER.PORTALE_LINK' | translate }}" class="text-white">{{ 'FOOTER.PORTALE_TEXT' | translate }}</a></p>
            </div>
            <div class="col-md">
                <ul class="links">  
                </ul>
            </div>
          </div>
    </div>
</footer>