<h1 class="mb-3 pb-2 border-bottom border-light text-primary">Dashboard</h1>
<div class="row mb-3">
  <div class="col-md-6 my-1">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="bi bi-ticket-detailed"></i>My boards</h5>
        <p class="card-text">Connect and setup the boards</p>
      </div>
      <div class="card-footer text-muted text-end">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/manage']">Manage <fa-icon
              icon="pen-to-square"></fa-icon></button>
          <!-- <button type="button" class="btn btn-sm btn-secondary" [routerLink]="['/user/history']">Storico <fa-icon icon="history"></fa-icon></button> -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 my-1">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="bi bi-ticket-detailed"></i>Register board</h5>
        <p class="card-text">Register a new board</p>
      </div>
      <div class="card-footer text-muted text-end">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/template']">Add board <fa-icon
            icon="layer-group"></fa-icon></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row-mb 3">
  <div class="col-md-6 my-1">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="bi bi-ticket-detailed"></i>Live Data</h5>
        <p class="card-text">See live data from board sensors</p>
      </div>
      <div class="card-footer text-muted text-end">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/live']">Data <fa-icon icon="wifi"></fa-icon></button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <h2>Admin</h2>
<hr>
<div class="row mb-3">
  <div class="col-md-6 my-1">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="bi bi-ticket-detailed"></i>Firmware</h5>
        <p class="card-text">Add a new template to command your boards</p>
      </div>
      <div class="card-footer text-muted text-end">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/firmware']">Add Firmware <fa-icon
            icon="circle-up"></fa-icon></button>
        </div>
      </div>
    </div>
  </div>
</div> -->