<div class="row mb-3 pb-2 border-bottom border-light">
    <div class="col-md-10">
        <h1 class="text-primary">Live Data</h1>
    </div>
    <div class="col-md">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/dashboard']">Back to dashboard
                <fa-icon icon="table-columns"></fa-icon></button>
        </div>
    </div>
</div>
<h4>Select preferred board to see available live data</h4>
<table class="table table-striped" *ngIf="boards.length > 0">
    <tbody>
        <tr *ngFor="let b of boards">
            <td>
                <b>{{b.name}}</b>
                <br>
                <small class="text-muted">Hub: {{b.hub}}</small>
            </td>
            <td align="right">
                <button *ngIf="!boardIsfocused(b)" class="btn btn-primary" (click)="selectBoard(b)">Watch</button>
                <button *ngIf="boardIsfocused(b)" class="btn btn-danger" (click)="unwatch()">Unwatch</button>
            </td>
        </tr>
    </tbody>
</table>
<h3 *ngIf="boards.length == 0">No board registered to user</h3>
<div *ngIf="!loaded && !DataError && flag">
    <h3 class="text-muted">Fetching data...</h3>
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
    </div>
    <br>
</div>
<div *ngIf="loaded && !DataError">
    <div class="row">
        <div class="col md-6" *ngFor="let sensor of boardFocus.sensors">
            <h3 class="mb-3 text-primary">{{sensor.type | titlecase}}</h3>
            <ngx-realtime-chart [options]="sensor.realtimeOption" [data]="sensor.realtimeChartData"></ngx-realtime-chart>
            <small class="text-muted">Average : {{ averageData(sensor) }}</small>
        </div>
    </div>
    <br>
</div>
<div *ngIf="DataError">
    <h3 class="text-danger">No data available</h3>
</div>