<div class="row mb-3 pb-2 border-bottom border-light">
    <div class="col-md-10">
        <h1 class="text-primary">Choose device</h1>
    </div>
    <div class="col-md">
        <div class="btn-group">
            <button [routerLink]="['/dashboard']" class="btn btn-sm btn-primary" type="button">Back to dashboard
                <fa-icon icon="table-columns"></fa-icon>
            </button>
        </div>
    </div>
</div>
<div *ngIf="!boards">
    <h3 class="text-muted">Fetching data...</h3>
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
    </div>
    <br>
</div>
<div *ngIf="boards && !sent">
    <table *ngIf="boards.length > 0" class="table table-striped">
        <tbody>
        <tr *ngFor="let board of boards">
            <td>
                <b>{{board.name}}</b>
                <br>
                <small class="text-muted">Hub: {{board.hub}}</small>
            </td>
            <td align="right">
                <button (click)="selectBoard(board)" *ngIf="board != focusBoard" class="btn btn-primary">Setup</button>
                <button (click)="exitSetup()" *ngIf="board == focusBoard" class="btn btn-danger">Close</button>
            </td>
        </tr>
        </tbody>
    </table>
    <h3 *ngIf="boards.length == 0">No device registered to user</h3>
    <div *ngIf="loaded && fields.length > 0">
        <h3 class="mb-3 pb-2 border-bottom border-light text-primary">{{focusBoard.name}}</h3>
        <div *ngFor="let field of names; let i = index;">
            <label [attr.for]="field">{{ field | titlecase }}:</label>
            <input [(ngModel)]="val[i]" class="form-control" type="text">
            <small class="text-muted">{{desc[i]}}</small>
        </div>
        <br>
        <button (click)="send()" class="btn btn-primary">Submit</button>
        <br>
    </div>
    <div *ngIf="loaded && fields.length == 0">
        <h3 class="text-danger">No remote commands available for the selected device.</h3>
    </div>
</div>
<div *ngIf="sent">
    <h3 class="text-success">Command sent successfully</h3>
    <div class="btn-group">
        <button [routerLink]="['/dashboard']" class="btn btn-sm btn-primary" type="button">Go back to the dashboard
            <fa-icon icon="table-columns"></fa-icon>
        </button>
        <button (click)="refresh()" class="btn btn-secondary" type="button">Send another one</button>
    </div>
</div>
